<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Voting Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Voting Statistics</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
       <ion-item>
          <label for="questions">Choose a question: &nbsp;&nbsp;</label> 
          <select name="questions" id="display-questions" [(ngModel)]="selectedQuestion" (change)="selectQuestionChange($event);">
            <option disabled selected value> -- select a question -- </option>
            <option *ngFor="let question of questions; let i=index;" [value]="question?.id">
                    {{ question?.description }}
            </option> 
          </select>
      </ion-item>
    
      <ion-item>
        <ion-button color="dark"  (click)="getQuestionStats();">Retrieve Votes</ion-button>
      </ion-item>
      <ion-item>
        <div><h2>Statistics for question {{ selectedQuestion }}: </h2></div>
      </ion-item>
      <ion-item>
        <div>
          <ol  id="display-stats">
          </ol>
        </div> 

      </ion-item>
  </ion-content>
</ion-content> 

 