<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "ion-text-center">
      Welcome to the Super Simple Voting App    
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=3>
          <img [src]="img_path" alt="Bean">
        </ion-col>
        <ion-col>
        <ion-text class="message ion-text-center" size="large">
          <p id="display-message" class="message"> Look for messages here.</p>
        </ion-text>
        </ion-col>
    </ion-row>  
  </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content lines="none" class="ion-text-center" [fullscreen]="true">
    <ion-item lines="none"> </ion-item>
    <ion-label  class="ion-text-center" position="stacked">Enter your name to begin:</ion-label>
    <ion-input class="ion-text-center"
      value="" 
      [(ngModel)]="loginName" 
      required="true"
      placeholder="Name"
      (ionChange)="loginNameInputChange()">
    </ion-input>
  
  <ion-button color="dark" class="ion-text-center" (click)="login();">{{loginText}}</ion-button>
  
  <ion-item [hidden]="hideName">
    <div>
      <p>Welcome {{ voter?.name }}</p>
      <p>Click 'Start Voting' to display a list of questions. Select one and answer "Yes" or "No". </p>
      <p> You may answer each question only once.</p>
    </div>
  </ion-item>
  <ion-item [hidden]="hideVoting">
    <ion-button color="dark" (click)="startVoting()">Start Voting</ion-button>
  </ion-item>     
  <ion-item [hidden]="hideQuestions">
      <label for="questions">Choose a question: &nbsp;&nbsp;</label>
        <select name="questions" id="display-questions" [(ngModel)]="selectedQuestion" (change)="selectQuestionChange($event);">
        <option disabled selected value> -- select a question -- </option>
        <option *ngFor='let question of questions; let i=index;' [value]="question?.id">
                {{ question?.description }}
        </option>
      </select>
  </ion-item>
  <ion-item [hidden]="hideQuestions">
      <div>Selected: {{ selectedQuestion }}</div>
  </ion-item>
  <ion-item class="ion-text-center" [hidden]="hideYesNo">
    <ion-button color="dark"  (click)="saveVote('y');">Yes</ion-button>
    <ion-button color="dark"  (click)="saveVote('n');">No</ion-button>
  </ion-item>
</ion-content>

